<!doctype html>
<title>Новости</title>
<head>
	{% load static %}
	<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'semantic/dist/semantic.min.css' %}"></link>
	<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
	{% block header %}{% endblock %}
</head>
<body>
	<div class="ui secondary pointing massive menu">
		<div class="item">
			<i class="paw icon big"></i>
		</div>
		<div class="left menu">
				{% url 'index' as url_index %}
				<a href="{{ url_index }}" class="ui item{% if request.path == url_index %} active{% endif %}">
				Home
				</a>
				{% if user.is_authenticated %}
					{% for url_name, menu_name in auth_menu %}
					{% url url_name as url_tmp %}
					<a href="{{ url_tmp }}" class="ui item{% if request.path == url_tmp %} active{% endif %}">
					{{ menu_name }}
					</a>
					{% endfor %}
				{% endif %}
		</div>

		<div class="right menu">
			{% if user.is_authenticated %}
			<a href="{% url 'profile' %}" class="ui item">
				<i class="user icon"></i>
				{{ user }}
			</a>
			<a href="{% url 'logout' %}" class="ui item">
				Logout
			</a>
			{% else %}
			<a href="{% url 'register' %}" class="ui item">
				Register
			</a>
			<a href="{% url 'login' %}" class="ui item">
				Login
			</a>
			{% endif %}
		</div>
	</div>
	{% block content %}{% endblock %}
<body>