{% extends 'app_news/base.html' %}
{% block content %}
<div class="ui segment">
	<section class="ui segment">
		<center>
			<h1>Пользователи!</h1>
		</center>
	</section>
	
	<section class="ui segment">
		<div class="ui three cards">
		{% for user in users_list.all %}
			<div class="card">
				<div class="content">
					<img class="right floated tiny ui image" src="https://api.multiavatar.com/{{ user }}.png">
					<div class="header">
						{{ user }}
					</div>
					<div class="description">
						city: {{ user.profile.city }}<br>
						phone: {{ user.profile.phone_number }}<br>
						email: {{ user.profile.email }}<br>
					</div>
				</div>
				<div class="extra content">
					<div class="ui one buttons">
						{% if user.profile.verified %}
							<div name="btn_{{ unverify }}_{{ user.id }}" class="ui basic red button">Unverify</div>
						{% else %}
							<div name="btn_{{ verify }}_{{ user.id }}" class="ui basic green button">Verify</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% empty %}
			<p>Пользователей нет</p>
		{% endfor %}
		</div>
	</section>
	
</div>
<script>
		const re = /btn_([0-9]+)_([0-9]+)/i;
    $('.button').on('click', function(e, target){
    	//e.preventDefault();
    	var $btn = $(this);
    	var found = $btn.attr('name').match(re);
    	var href_url = "{% url 'user_approve' pk=99 to_verify=97 %}"
    		.replace('99', found[2])
    		.replace('97', found[1]);
    	if ($btn.hasClass('red') || $btn.hasClass('green')) {
    		console.log(href_url)
    		var anch = $("<a href='" + href_url + "'></a>").trigger("click");
    		anch[0].click()
    	}

    });

</script>


{% endblock %}