{% extends 'base.html' %}
{% block content %}
<div class="ui segment">
	<section class="ui segment">
		<center>
			<h1>Здравствуйте!</h1>
		</center>
	</section>
</div>

<script>
	$('.ui.dropdown')
		.dropdown()
	;

	$('.div.dropdown a.item').on('click', function(e){

	})


</script>
{% endblock %}