{% extends 'base.html' %}
{% block content %}
<div class="ui segment">

		<table class="ui table">
		<thead>
			<tr>
				<th></th>
				<th>Template</th>
				<th>Student</th>
				<th>Data Created</th>
				<th>Is empty</th>
				<th>Percentage</th>
			</tr>
		</thead>
			<tbody>
			{% for module in modules_list %}
			<tr>
				<td>{% url 'module' module.id %}</td>
				<td>module.template.name</td>
				<td>module.student.name</td>
				<td>module.date_created</td>
				<td>module.is_empty</td>
				<td>module.percentage</td>
			</tr>
			{% empty %}
			<tr class="center aligned">
				<td colspan="6">No modules</td>
			</tr>
			{% endfor %}

</div>

<script>
	$('.ui.dropdown')
		.dropdown()
	;

	$('.div.dropdown a.item').on('click', function(e){

	})


</script>
{% endblock %}