{% extends 'base.html' %}
{% block content %}
<div class="ui segment">

		<table class="ui table">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Link</th>
				<th>Similarity Percent</th>
				<th>Modules Passed</th>
				<th>Last Module Date</th>
			</tr>
		</thead>
			<tbody>
			{% for student in students_list %}
			<tr>
				<td>{% url 'student' student.id %}</td>
				<td>student.name</td>
				<td>student.link</td>
				<td>student.similarity_percent</td>
				<td>student.modules|len</td>
				<td></td>
			</tr>
			{% empty %}
			<tr class="center aligned">
				<td colspan="6">No modules</td>
			</tr>
			{% endfor %}

</div>

<script>
	$('.ui.dropdown')
		.dropdown()
	;

	$('.div.dropdown a.item').on('click', function(e){

	})


</script>
{% endblock %}