{% extends 'base.html' %}
{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <div class="ui segment">
            <section class="content">
                <div class="ui two column centered grid">
                    <div class="two column centered row">
                        <div class="center aligned column">
                            <h1 class="ui header">Sign In</h1>
                        </div>
                    </div>
                    <form action="{% url 'login' %}" method="post" class="ui form" novalidate>
                        {% csrf_token %}
                        <div class="two column centered row">
                            <div class="center aligned column">


                                    {{ form.as_p }}
                                    <button type="submit" class="ui button blue">Login</button>


                            </div>
                        </div>
                        <div class="two column centered row">
                            <div class="center aligned  column">

                            </div>
                        </div>
                    </form>
                    <div class="two column centered row">

                    </div>

                </div>



            </section>
        </div>
      </div>
</div>
<script>

</script>
{% endblock %}